<div class="container">
  <h1><%= current_user.name %>'s cart</h1>

  <% if @cart.order_items.empty? %>
    <p class="text-center"><strong>Your cart is empty!</strong></p>
  <% else %>
    <table class="table table-striped table-hover">
      <thead>
        <th></th>
        <th>Movie</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% @cart.order_items.each do |order_item| %>
          <tr>
            <td width="100px"><%= image_tag order_item.movie.poster_url, height: "100px" %></td>
            <td width="100%"><%= order_item.movie.title %></td>
            <td width="20px">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" data-order-item-id="<%= order_item.id %>">
                  <%= link_to '<i class="fa fa-minus"></i>'.html_safe, minus_cart_movie_path(current_user.cart, order_item.movie) %>
                </div>
                <input disabled type="text" class="form-control quantity-control" data-order-item-id="<%= order_item.id %>" value="<%= order_item.quantity %>">
                <div class="input-group-addon" data-order-item-id="<%= order_item.id %>">
                  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, plus_cart_movie_path(current_user.cart, order_item.movie) %>
                </div>
              </div>
            </td>
            <td><%= number_to_currency order_item.total %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td class="text-right"><strong>Total</strong></td>
          <td><strong><%= number_to_currency @cart.total %></strong></td>
        </tr>
      </tbody>
    </table>

    <p class="text-right">
      <%= link_to '<i class="fa fa-credit-card"></i> Proceed to checkout'.html_safe, checkout_cart_index_path, class: "btn btn-success", data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
