<%= simple_form_for(movie, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => "Nome" %>

<%= f.input :actors, :label => "Data" %>
    <!--<%= f.input :year %>-->

    <%= f.input :runtime, :label => "Local" %>

    <%= f.input :genre, :label => "Atrações" %>

    <!--<%= f.input :plot %>-->

    <!--<%= f.input :language %>-->

    <!--<%= f.input :country %>-->

    <!--<%= f.input :awards %>-->

    <%= f.input :poster_url, :label => "Link da Imagem" %>

    <%= f.input :imdb_id, :label => "Lote" %>

    <%= f.input :imdb_rating, :label => "Valor" %>

    <!--<%= f.input :price %>-->

    <%= f.input :directors, :label => "Cidade" %>

    
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Criar Evento" %>
  </div>
<% end %>
