<%= simple_form_for(movie, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>

    <%= f.input :year %>

    <%= f.input :runtime %>

    <%= f.input :genre %>

    <%= f.input :plot %>

    <%= f.input :language %>

    <%= f.input :country %>

    <%= f.input :awards %>

    <%= f.input :poster_url %>

    <%= f.input :imdb_id %>

    <%= f.input :imdb_rating %>

    <%= f.input :price %>

    <%= f.association :directors, collection: Director.all, input_html: { multiple: "multiple", class: "multiselect"} %>

    <%= f.association :actors, collection: Actor.all, input_html: { multiple: "multiple", class: "multiselect"} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
