<div class="card">
  <img class="card-img-top" src="<%= movie.poster_url %>" width="100%" alt="<%= movie.title %>">
  <div class="card-block">
    <h4 class="card-title">
      <%= movie.title %> <span class="badge badge-default"><%= number_to_currency(movie.imdb_rating) %></span>
    </h4>
    <!--<h6><small>IMDB Rating: <%= render_imdb_rating movie.imdb_rating %></small></h6>-->
    <dl class="card-text">
    <dt><%= t('location') %></dt>
    <dd>
        <%= (movie.runtime) %>
    </dd>

      <dt><%= t('city')  %></dt>
      <dd>
        <% movie.directors.each do |director| %>
          <%= director %>
          <%= ", ".html_safe unless director == movie.directors.last %>
        <% end %>
      </dd>
      <dt><%= t('date') %></dt>
      <dd>
        <% movie.actors.each do |actor| %>
          <%= actor %>
          <%= ", ".html_safe unless actor == movie.actors.last %>
        <% end %>
      </dd>
      <dt><%= t('artists') %></dt> <dd class="text-justify"><small><%= truncate(movie.genre, length: 200) %></small></dd>

          <!--<dt><%= "Lote" %></dt>
    <dd>
        <%= (movie.imdb_id)%><%="° lote"%>
    </dd>-->
    <dt><%= t('entrance') %></dt>
      <dd>
      <%= radio_button_tag(:genero, "child") %>
      <%= label_tag(:genero_masculino, t('male')) %>
      <%= radio_button_tag(:genero, "adult") %>
      <%= label_tag(:genero_feminino, t('female')) %>
      </dd>
    </dl>
  </div>
  <div class="card-footer">
    <div class="text-center">
      <%= link_to t('more_info'), movie_path(movie), class: "btn btn-primary bt-small" %>
      <%= link_to t('buy') .html_safe, add_to_cart_movie_path(movie.id), class: "btn btn-success bt-small add_to_cart", remote: user_signed_in? %>
    </div>
  </div>
</div>
