<div class="container">
  <h1><%= current_user.name %>'s orders</h1>

  <% if @orders.empty? %>
    <p class="text-center"><strong>You do not have any orders!</strong></p>
  <% else %>
    <table class="table table-striped table-hover">
      <thead>
        <th>#</th>
        <th>Movies</th>
        <th>Total</th>
        <th></th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td width="100%">
              <% order.order_items.each  do |order_item| %>
                <%= image_tag order_item.movie.poster_url, height: "100px" %>
              <% end %>
            </td>
            <td><%= number_to_currency order.total %></td>
            <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, order, class: "btn btn-small btn-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
