<!DOCTYPE html>
<html>

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ConvitesJá</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.fontawesome.com/cbcb5949ff.js"></script>
  </head>

  <body>
  


    <div id="loadingModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="alert alert-info" role="alert">
          Um momento por favor...
        </div>
      </div>
    </div>

    <div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <p class="text-white"><%= t('hello') if user_signed_in? %></p>
            <h4 class="text-white"><%= t('head1') %></h4>
            <p class="text-muted"><%= t('head2') %></p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white"><%= t('options') %></h4>
            <ul class="list-unstyled">
              <% if can? :manage, Movie %>
                <li><%= link_to "Movies", movies_path %></li>
              <% end %>
              <% if can? :manage, Actor %>
                <li><%= link_to "Actors", actors_path %></li>
              <% end %>
              <% if can? :manage, Director %>
                <li><%= link_to "Directors", directors_path %></li>
              <% end %>
              <% if can? :manage, User %>
                <li><%= link_to "Users", users_path %></li>
              <% end %>
              <% if can? :read, Order %>
                <li><%= link_to t('tickets'), orders_path  %></li>
              <% end %>
              <% if user_signed_in? %>
                <li><%= link_to t('edit'), edit_user_registration_path %></li>
                <li><%= link_to t('leave'), destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <!--<p><font face="Bell MT" color=white size=5>HOUSE CAFE e-Tickets&nbsp;&nbsp;</p></font>-->
        <%= link_to "ConvitesJá", root_path, class: "navbar-brand" %>
        
        <div>
          <% if user_signed_in? %>
            <%= link_to cart_index_path, class: "navbar-toggler" do %>
              <i class="fa fa-shopping-cart"></i>
              <span id="cart-count">(<%= current_user.cart.order_items.count %> <%= "item".pluralize(current_user.cart.order_items.count) %>)</span>
            <% end %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <% unless notice.nil? %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>

      <% unless alert.nil? %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>
    </div>

      <%= yield %>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Voltar ao topo.</a>
        </p>
        
      </div>
    </footer>
  </body>
</html>
